/*
 * This file contains styling for the main List view.
 */

.bold {
    font-weight: 500;
}

.image-cell { 
    background: url(/home/max/ImageApp/resources/logo.svg) no-repeat 2px 1px; 
    padding-left: 16px; 
}

